In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
import sklearn.metrics as mc

# Data Understanding

In [36]:
data = pd.read_csv("seattle-weather.csv")
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [37]:
data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [38]:
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

# Data Spliting

In [40]:
x = data.iloc [ : , 1:-1] 
y = data.iloc [ : , -1]

In [41]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .25)

# Naive Bayes

In [42]:
GNB = GaussianNB()

In [43]:
GNB.fit(x_train,y_train)

GaussianNB()

In [44]:
y_predict = GNB.predict(x_test)
y_predict

array(['sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'sun', 'drizzle', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'snow',
       'rain', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'snow', 'sun',
       'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'drizzle',
       'sun', 'drizzle', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'snow', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'drizzle', 'rain', 'rain', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain',
       'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'rain', 'drizzle', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'snow', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'rain'], dtype='<U7')

# SVM

In [45]:
SVM = svm.SVC(kernel='linear')

In [46]:
SVM.fit(x_train,y_train)

SVC(kernel='linear')

In [47]:
y_svm_predict = SVM.predict(x_test)
y_svm_predict

array(['sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain',
       'sun', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'snow', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain',
       'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'rain'], dtype=object)

# Evaluate models

In [48]:
mc.accuracy_score(y_test,y_predict) # Naive Bayes Accuracy

0.8497267759562842

In [49]:
mc.accuracy_score(y_test,y_svm_predict) # Support Vectot Machine Accuracy

0.855191256830601